@import url(sanitize.css);

body {
    font-size: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.title {
    width: 100%;
    font-weight: 300;
    color: white;
    background-color: rgb(60, 60, 60);
    margin: 0;
    padding: 10px 0 10px 15px;
}
.content {
    font-size: 16px;
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
    padding: 30px;
}
input {
    cursor: pointer;
}
button {
    width: 230px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    padding: 13px 0;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    background: linear-gradient(rgba(31, 133, 216, 0.9), rgba(23, 97, 156, 0.9));
}
button:hover {
    background: linear-gradient(#1F85D8, #17619C);
}
select{
    width: 5rem;
    box-sizing: border-box;
    cursor: pointer;
}
.block {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d1d1d1;
}
.block2 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.indent {
    padding-left: 4rem;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.item {
    width: 12rem;
    margin: 0rem 1rem 3rem 1rem;
    text-align: center;
    background: #f1f1f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}
.item .box-title {
    font-size: 1.2rem;
    background: #5fc2f5;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05rem;
}
.item p {
    padding: 15px 20px;
    margin: 0;
}
.container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 15px;
}
.container3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 15px;
}
.item2 {
    padding-left: 2rem;
}
.item3 {
    padding-left: 1rem;
}

@media (max-width: 600px) {
    .content {
        width: 100%;
        padding: 0 15px;
    }
    .indent {
        padding-left: 1.5em;
    }
    .container2 {
        display: flex;
        flex-direction: column;
    }
    .item2 {
        padding-left: 0;
    }
    .item3 {
        padding-left: 1rem;
    }
}